<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="DLC_1" value="" />
  <add key="DLC_2" value="" />
  <add key="DLC_3" value="" />
  <add key="DLC_4" value="" />
  <add key="DLC_5" value="" />
  <add key="DLC_6" value="" />
  <add key="insetup" value="0" />
  <add key="fullscreen" value="1" />
  <add key="fontsize" value="16" />
  <add key="theme" value="dark" />
  <add key="user_foreground_color_1" value="15" />
  <add key="user_foreground_color_2" value="8" />
  <add key="music" value="1" />
  <add key="sound" value="1" />
  <add key="end_1" value="" />
  <add key="end_2" value="" />
  <add key="end_3" value="" />
  <add key="end_4" value="" />
  <add key="end_5" value="" />
  <add key="end_6" value="" />
  <add key="end_7" value="" />
  <add key="end_8" value="" />
  <add key="end_9" value="" />
  <add key="end_10" value="" />
  <add key="end_11" value="" />
  <add key="end_12" value="" />
  <add key="end_13" value="" />
  <add key="end_14" value="" />
  <add key="end_15" value="" />
  <add key="end_16" value="" />
  <add key="end_17" value="" />
  <add key="end_18" value="" />
  <add key="end_19" value="" />
  <add key="end_20" value="" />
  <add key="end_21" value="" />
  <add key="end_22" value="" />
  <add key="end_23" value="" />
  <add key="end_24" value="" />
  <add key="end_25" value="" />
  <add key="end_26" value="" />
  <add key="end_27" value="" />
  <add key="end_28" value="" />
  <add key="end_29" value="" />
  <add key="end_30" value="" />
  <add key="end_31" value="" />
  <add key="end_32" value="" />
  <add key="end_33" value="" />
  <add key="end_34" value="" />
  <add key="end_35" value="" />
  <add key="end_36" value="" />
  <add key="end_37" value="" />
  <add key="end_38" value="" />
  <add key="end_39" value="" />
  <add key="end_40" value="" />
  <add key="end_41" value="" />
  <add key="end_42" value="" />
  <add key="end_43" value="" />
  <add key="end_44" value="" />
  <add key="end_45" value="" />
  <add key="end_46" value="" />
  <add key="end_47" value="" />
  <add key="end_48" value="" />
  <add key="end_49" value="" />
  <add key="end_50" value="" />
  <add key="end_51" value="" />
  <add key="end_52" value="" />
  <add key="end_53" value="" />
  <add key="end_54" value="" />
  <add key="end_55" value="" />
  <add key="end_56" value="" />
  <add key="end_57" value="" />
  <add key="end_58" value="" />
  <add key="end_59" value="" />
  <add key="end_60" value="" />
  <add key="end_61" value="" />
  <add key="end_62" value="" />
  <add key="end_63" value="" />
  <add key="end_64" value="" />
  <add key="end_65" value="" />
  <add key="end_66" value="" />
  <add key="end_67" value="" />
  <add key="end_68" value="" />
  <add key="end_69" value="" />
  <add key="end_70" value="" />
  <add key="end_71" value="" />
  <add key="end_72" value="" />
  <add key="end_73" value="" />
  <add key="end_74" value="" />
  <add key="end_75" value="" />
  <add key="end_76" value="" />
  <add key="end_77" value="" />
  <add key="end_78" value="" />
  <add key="end_79" value="" />
  <add key="end_80" value="" />
  <add key="end_81" value="" />
  <add key="end_82" value="" />
  <add key="end_83" value="" />
  <add key="end_84" value="" />
  <add key="end_85" value="" />
  <add key="end_86" value="" />
  <add key="end_87" value="" />
  <add key="end_88" value="" />
  <add key="end_89" value="" />
  <add key="end_90" value="" />
  <add key="end_91" value="" />
  <add key="end_92" value="" />
  <add key="end_93" value="" />
  <add key="end_94" value="" />
  <add key="end_95" value="" />
  <add key="end_96" value="" />
  <add key="end_97" value="" />
  <add key="end_98" value="" />
  <add key="end_99" value="" />
  <add key="end_100" value="" />
  <add key="end_101" value="" />
  <add key="end_102" value="" />
  <add key="end_103" value="" />
  <add key="end_104" value="" />
  <add key="end_105" value="" />
  <add key="end_106" value="" />
  <add key="end_107" value="" />
  <add key="end_108" value="" />
  <add key="end_109" value="" />
  <add key="end_110" value="" />
  <add key="end_111" value="" />
  <add key="end_112" value="" />
  <add key="end_113" value="" />
  <add key="end_114" value="" />
  <add key="end_115" value="" />
  <add key="end_116" value="" />
  <add key="end_117" value="" />
  <add key="end_118" value="" />
  <add key="end_119" value="" />
  <add key="end_120" value="" />
  <add key="end_121" value="" />
  <add key="end_122" value="" />
  <add key="end_123" value="" />
  <add key="end_124" value="" />
  <add key="end_125" value="" />
  <add key="end_126" value="" />
  <add key="end_127" value="" />
  <add key="end_128" value="" />
  <add key="end_129" value="" />
  <add key="end_130" value="" />
  <add key="end_131" value="" />
  <add key="end_132" value="" />
  <add key="end_133" value="" />
  <add key="end_134" value="" />
  <add key="end_135" value="" />
  <add key="end_136" value="" />
  <add key="end_137" value="" />
  <add key="end_138" value="" />
  <add key="end_139" value="" />
  <add key="end_140" value="" />
  <add key="end_141" value="" />
  <add key="end_142" value="" />
  <add key="end_143" value="" />
  <add key="end_144" value="" />
  <add key="end_145" value="" />
  <add key="end_146" value="" />
  <add key="end_147" value="" />
  <add key="end_148" value="" />
  <add key="end_149" value="" />
  <add key="end_150" value="" />
  <add key="end_151" value="" />
  <add key="end_152" value="" />
  <add key="end_153" value="" />
  <add key="end_154" value="" />
  <add key="end_155" value="" />
  <add key="end_156" value="" />
  <add key="ach_1" value="L9XKJ7M4" />
  <add key="ach_2" value="M7LXK9J4" />
  <add key="ach_3" value="JXK4M9L7" />
  <add key="ach_4" value="T9XK3L7N" />
  <add key="ach_5" value="N7L9T3XK" />
  <add key="ach_6" value="XK3N7T9L" />
  <add key="ach_7" value="M9JXK4N7" />
  <add key="ach_8" value="L7M9JXK4" />
  <add key="ach_9" value="JXK4M9L7" />
  <add key="ach_10" value="T9XK3N7L" />
  <add key="ach_11" value="XK3T9N7L" />
  <add key="ach_12" value="N7T9XK3L" />
  <add key="ach_13" value="M9JXK4N7" />
  <add key="ach_14" value="L7M9JXK4" />
  <add key="ach_15" value="JXK4M9L7" />
  <add key="ach_16" value="T9XK3N7L" />
  <add key="ach_17" value="N7L9T3XK" />
  <add key="ach_18" value="M9JXK4N7" />
  <add key="ach_19" value="L7M9XK4J" />
  <add key="ach_20" value="XK3N7T9L" />
  <add key="ach_21" value="M9JXK4N7" />
  <add key="ach_22" value="L7T9XK3N" />
  <add key="ach_23" value="JXK4M9L7" />
  <add key="ach_24" value="T9XK3L7N" />
  <add key="ach_25" value="N7L9T3XK" />
  <add key="ach_26" value="XK3N7T9L" />
  <add key="ach_27" value="M9JXK4N7" />
  <add key="ach_28" value="L7M9JXK4" />
  <add key="ach_29" value="JXK4M9L7" />
  <add key="ach_30" value="T9XK3N7L" />
  <add key="ach_31" value="XK3T9N7L" />
  <add key="ach_32" value="N7T9XK3L" />
  <add key="ach_33" value="M9JXK4N7" />
  <add key="ach_34" value="L7M9JXK4" />
  <add key="ach_35" value="JXK4M9L7" />
  <add key="ach_36" value="T9XK3N7L" />
  <add key="ach_37" value="N7L9T3XK" />
  <add key="ach_38" value="M9JXK4N7" />
  <add key="ach_39" value="L7M9XK4J" />
  <add key="ach_40" value="XK3N7T9L" />
  <add key="ach_41" value="M9JXK4N7" />
  <add key="ach_42" value="L7T9XK3N" />
  <add key="ach_43" value="JXK4M9L7" />
  <add key="ach_44" value="T9XK3L7N" />
  <add key="ach_45" value="N7L9T3XK" />
  <add key="ach_46" value="XK3N7T9L" />
  <add key="ach_47" value="M9JXK4N7" />
  <add key="ach_48" value="L7M9JXK4" />
  <add key="ach_49" value="JXK4M9L7" />
  <add key="ach_50" value="T9XK3N7L" />
 </appSettings>
</configuration>
